apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "kube-rclone.fullname" . }}-configmap
  labels:
{{ include "kube-rclone.labels" . | indent 4 }}
data:
{{ (.Files.Glob "files/rclone.conf").AsConfig | indent 2 }}
